java-test/src/main/resources/student.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!ELEMENT students (student*) >
        <!ELEMENT student (name,password,gender,birthday)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT password (#PCDATA)>
        <!ELEMENT gender (#PCDATA)>
        <!ELEMENT birthday (#PCDATA)>
        <!ATTLIST student number ID #REQUIRED>